/*Colors:
2C3E50
E74C3C
ECF0F1
3498DB
2980B9
*/

html {
    font-family: "helvetica";
    background: #ECF0F1;
}

header {
    text-align: center;
    color: #E74C3C;
    padding-top: 1em;
    padding-bottom: 2em;
}

.title {
    font-size: 3em;
}

.subtitle {
    font-size: 2em;
}


li {
    padding-bottom: 1em;
    padding-left: 10%;
    font-size: 2em;
    width: 80%;
    height: 3em;
}

.button {
    color: #2C3E50;
    display: block;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
    text-align: center;
    text-decoration: none;
    border: 2px solid #2980B9;
    border-radius: 8px;
    transition-duration: 0.4s;
/*
    color: white;
    font-weight: bold;
*/
}


.button:hover {
    background: #2980B9;
}
